.search {
  height: 64rem;
  width: 500px;

  label {
    position: relative;
    font-size: 1.3rem;
    display: block;
  }

  &__title {
    margin-bottom: 8px;
    text-align: center;
  }

  &__input {
    width: 100%;
    padding: 1rem;
    border: 0;
    box-shadow: 0 0 1px #495057;
    border-radius: 4px;
    font-weight: 700;
  }
}
